html,
body, #app {
    height: 100%;
}

.card {
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
        b {
            font-size: 1.1em;
            i {
                margin-right: 5px;
            }
        }
        .title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;
            @include tablet {
                justify-content: flex-start;
                margin-bottom: 0;
            }
        }
        .actions{
            display: flex;
            width: 100%;
            margin-bottom: .5rem;
            form {
                display: flex;
                width: 100%;
            }
        }
    }
    .card-body {
        .card-body-title {
            color: rgba(black, .3);
            font-weight: 700;
            margin: 10px 0;
        }
    }
}

.alert {
    @include mobil-only {
        padding: .5rem;
    }

    ul {
        list-style: none;
        padding-left: 0px;
        li {
            list-style: none;
        }
    }
}
